/********************/
/*  Base et Layout */
/********************/
body {
  background-color: #0b0e14;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.header-left {
  margin-right: 80px;
}

.site-logo {
  height: 35px;
  width: auto;
  display: block;
  border-radius: 8px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

/********************/
/* Icônes et Header */
/********************/

.icon-search {
  width: 45px;
  height: auto;
}
.header-icon {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link-simple,
.nav-link-toggle {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
}

.nav-link-simple:hover,
.nav-link-toggle:hover {
  color: #3b82f6;
}
/********************/
/*  Menu Déroulant */
/********************/
.nav-item {
  position: relative;
}

.dropdown-panel {
  display: none;
  position: absolute;
  top: 100%; /* permet de coller le menu sous le header */
  left: 0;
  width: 100vw;
  background: #1a2332;
  z-index: 1000;
  left: -320px; /* replacement du menu pour prendre tt l'ecran*/
}

.nav-item.is-open .dropdown-panel {
  display: block;
}

/* le txt "logiciels" passe en bleu qd il est cliqué */
.nav-item.is-open .nav-link-toggle {
  background-color: #1a2332 !important;
}

.dropdown-inner {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 40px;
}

/**********************/
/* Colonne de gauche */
/********************/

.promo-content {
  flex: 0 0 300px;
  padding-right: 40px;
  margin-left: 0;
}

.promo-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #9ca3af;
}

.promo-link {
  color: #ffffff !important; /* on force en blanc */
  text-decoration: none;
  font-weight: 500;
  display: inline-block; /* Permet d'appliquer des marges tt en restant sur la ligne */
  margin-top: 10px;
}

/***********************/
/** Grille Logiciels **/
/*********************/

.software-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ca creer 2 colonnes egales */
  flex-grow: 1;
}

.software-card {
  display: flex;
  gap: 15px;
  background: transparent; /* on enleve le fond des cartes*/
  border-radius: 12px;
  padding: 20px;
  border: 1px solid transparent; /* preparation d'une bordure invisible */
  text-decoration: none;
  transition: 0.3s;
}

.software-card:hover {
  background: rgba(255, 255, 255, 0.05); /* Le fond gris léger apparaît ici */
  border: 1px solid rgba(255, 255, 255, 0.1); /* On ajoute une petite bordure fine */
  transform: translateY(-2px);
}

.software-card img {
  width: 120px;
  height: 92px;
  border-radius: 8px;
  object-fit: cover;
}

.card-name {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}
.card-desc {
  color: #9ca3af;
  font-size: 14px;
  margin: 0 0 4px 0;
  line-height: 1.4;
}
.card-more {
  color: #ffffff !important; /* on force en blanc */
  font-size: 14px;
  font-weight: 500;
  display: inline-block; /* On s'assure qu'il respecte les marges du dessus */
  margin-top: 0; /* On force l'absence de marge haute */
}

/* Responsivité */

/* ajustements pour les écrans entre 1024px et 1200px */
@media screen and (max-width: 1200px) {
  .promo-content {
    flex: 0 0 220px; /* reduction de la largeur du texte à gauche */
    padding-right: 20px;
  }

  .dropdown-inner {
    max-width: 95% !important;
    gap: 20px; /* reduction des espaces */
  }
}

/* pr cacher l'icone de crayon en haut a droite */
.contextual {
  display: none !important;
}
